/* BODY */
body{
  font-family: Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* CONTAINER */
.container{
  width: 1024px;
  margin: 20px auto 0;
}

/* HEADER */
.header-nav {
  height: 50px;
  background: #162028;
  position: relative;
}

.logotipo{
  margin: 7px 0 0 150px;
}

.header-menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.header-menu ul{
  margin: 0;
  padding: 0;
}

.header-menu li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  padding: 14px;
}

.header-menu a{
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
}

/* PORTFOLIO */
.portfolio{
  padding: 50px 100px;
  text-align: center;
}

.portfolio h1{
  font-size: 36px;
  color: #252525;
}

.portfolio p{
  font-size: 16px;
  color: #555;
  line-height: 2;
}

/* GALLERY */
.gallery{
  color: #555;
  padding: 0 100px;
  overflow: auto;
}

.gallery-card{
  width: 32%;
  float: left;
  text-align: center;
}

.gallery-title{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* ABOUT */
.about{
  margin-top: 50px;
  background-color: #003d52;
  padding: 100px;
  color: #fff;
  background-image: url(../imagens/bg_detalhe.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about h2{
  margin-top: 0;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: normal;
}

.about p{
  line-height: 1.5;
  width: 60%;
}

.contact{
  margin-top: 50px;
}

.contact address{
  text-transform: uppercase;
  color: #143f52;
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-weight: bold;
}

.map{
  margin-top: 40px;
}